.container {
    width: 300px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 20px auto;
}

.firstContainer {

    padding: 15px;
    text-align: center;
    color: rgb(131, 131, 131);
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid;
}

.image {
    margin-bottom: 15px;
    background-color: rgb(105, 106, 104);
    border-radius: 50%;
}

.title {
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}

.descr {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
}

.list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: rgb(224, 224, 224);
    justify-content: space-around;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.itemCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    gap: 5px;
    width: 98px;
    border-right: 2px solid rgb(105, 106, 104);
    border-left: 2px solid rgb(105, 106, 104);
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    gap: 5px;
    width: 98px;
}

.integers {
    font-weight: 700;
}

li:first-child {
    border-right: 2px solid rgb(105, 106, 104);
}

li:last-child {
    border-left: 2px solid rgb(105, 106, 104);
}